<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Contacts</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../hbs/mycontacts.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div class="contact bg-dark text-light p-3">
                    {{!-- <div class="front">
                        <div class="frontImage"><img src="../images/profile.png"></div>
                        <div class="frontName">Bhaikko</div>
                    </div> --}}
                    <div class="back">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="backImage"><img src="../images/profile.png"></div>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-warning edit">Edit</button>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                        
                        <table class="table table-striped text-light">
                            <tr>
                                <th>Name: </th>
                                <td>Bhaikko</td>
                            </tr>
                            <tr>
                                <th>Phone: </th>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <th>Address: </th>
                                <td>HouseNO, Locality, City, State - 999999</td>
                            </tr>
                            <tr>
                                <th>Email: </th>
                                <td>abcdefghijkl@gmail.com</td>
                            </tr>
                        </table>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>