
# Dependency directories
node_modules/

# Web Design directories
Design\ Document

# Database directory
Web\ Application/database/*
!Web\ Application/database/sqlDatabase.js
!Web\ Application/database/sqlDatabaseHandler.js
!Web\ Application/database/mongoDatabase.js
!Web\ Application/database/mongoDatabaseHandler.js

# Uploads Folder
Web\ Application/public/uploads/*
!Web\ Application/public/uploads/profile.png

#Screenshots
Screenshots/



